.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #0000ff;
  --rdp-background-color: #e7edff;
  --rdp-accent-color-dark: #3003e1;
  --rdp-background-color-dark: #180270;
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused elements */
  --rdp-outline-selected: 3px solid var(--rdp-accent-color);
  /* Outline border for focused _and_ selected elements */
  margin: 1em;
}
/* Hide elements for devices that are not screen readers */
.rdp-vhidden {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute !important;
  top: 0;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0 !important;
}
/* Buttons */
.rdp-button_reset {
  appearance: none;
  position: relative;
  margin: 0;
  padding: 0;
  cursor: default;
  color: inherit;
  background: none;
  font: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.rdp-button_reset:focus-visible {
  /* Make sure to reset outline only when :focus-visible is supported */
  outline: none;
}
.rdp-button {
  border: 2px solid transparent;
}
.rdp-button[disabled]:not(.rdp-day_selected) {
  opacity: 0.25;
}
.rdp-button:not([disabled]) {
  cursor: pointer;
}
.rdp-button:focus-visible:not([disabled]) {
  color: inherit;
  background-color: var(--rdp-background-color);
  border: var(--rdp-outline);
}
.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--rdp-background-color);
}
.rdp-months {
  display: flex;
}
.rdp-month {
  margin: 0 1em;
}
.rdp-month:first-child {
  margin-left: 0;
}
.rdp-month:last-child {
  margin-right: 0;
}
.rdp-table {
  margin: 0;
  max-width: calc(var(--rdp-cell-size) * 7);
  border-collapse: collapse;
}
.rdp-with_weeknumber .rdp-table {
  max-width: calc(var(--rdp-cell-size) * 8);
  border-collapse: collapse;
}
.rdp-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  text-align: left;
}
.rdp-multiple_months .rdp-caption {
  position: relative;
  display: block;
  text-align: center;
}
.rdp-caption_dropdowns {
  position: relative;
  display: inline-flex;
}
.rdp-caption_label {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0 0.25em;
  white-space: nowrap;
  color: currentColor;
  border: 0;
  border: 2px solid transparent;
  font-family: inherit;
  font-size: 140%;
  font-weight: bold;
}
.rdp-nav {
  white-space: nowrap;
}
.rdp-multiple_months .rdp-caption_start .rdp-nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.rdp-multiple_months .rdp-caption_end .rdp-nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.rdp-nav_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  padding: 0.25em;
  border-radius: 100%;
}
/* ---------- */
/* Dropdowns  */
/* ---------- */
.rdp-dropdown_year,
.rdp-dropdown_month {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.rdp-dropdown {
  appearance: none;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: inherit;
  opacity: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.rdp-dropdown[disabled] {
  opacity: unset;
  color: unset;
}
.rdp-dropdown:focus-visible:not([disabled]) + .rdp-caption_label {
  background-color: var(--rdp-background-color);
  border: var(--rdp-outline);
  border-radius: 6px;
}
.rdp-dropdown_icon {
  margin: 0 0 0 5px;
}
.rdp-head {
  border: 0;
}
.rdp-head_row,
.rdp-row {
  height: 100%;
}
.rdp-head_cell {
  vertical-align: middle;
  font-size: 0.75em;
  font-weight: 700;
  text-align: center;
  height: 100%;
  height: var(--rdp-cell-size);
  padding: 0;
}
.rdp-tbody {
  border: 0;
}
.rdp-tfoot {
  margin: 0.5em;
}
.rdp-cell {
  width: var(--rdp-cell-size);
  height: 100%;
  height: var(--rdp-cell-size);
  padding: 0;
  text-align: center;
}
.rdp-weeknumber {
  font-size: 0.75em;
}
.rdp-weeknumber,
.rdp-day {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--rdp-cell-size);
  max-width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  margin: 0;
  border: 2px solid transparent;
  border-radius: 100%;
}
.rdp-day_today:not(.rdp-day_outside) {
  font-weight: bold;
}
.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: white;
  opacity: 1;
  background-color: var(--rdp-accent-color);
}
.rdp-day_outside {
  opacity: 0.5;
}
.rdp-day_selected:focus-visible {
  /* Since the background is the same use again the outline */
  outline: var(--rdp-outline);
  outline-offset: 2px;
  z-index: 1;
}
.rdp:not([dir='rtl']) .rdp-day_range_start:not(.rdp-day_range_end) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rdp:not([dir='rtl']) .rdp-day_range_end:not(.rdp-day_range_start) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rdp[dir='rtl'] .rdp-day_range_start:not(.rdp-day_range_end) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rdp[dir='rtl'] .rdp-day_range_end:not(.rdp-day_range_start) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rdp-day_range_end.rdp-day_range_start {
  border-radius: 100%;
}
.rdp-day_range_middle {
  border-radius: 0;
}
.rdp,
:root {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #0067c5;
  --rdp-background-color: white;
  --rdp-outline: 1px solid #0067c5;
  --rdp-outline-selected: 2px solid #0067c5;
}
.rdp-day {
  border-radius: var(--navds-border-radius-medium);
}
.rdp-day:focus,
.rdp-day:active,
.rdp-day:hover {
  z-index: 5;
  border: 1px solid var(--rdp-outline);
  border-radius: var(--navds-border-radius-medium);
  box-shadow: 0 0 0 3px #00347d;
}
.rdp-day_disabled {
  text-decoration: line-through;
}
.rdp-day_publicHoliday:not(.rdp-day_selected) {
  color: #c30000 !important;
  font-style: italic;
}
.rdp-button {
  border-radius: var(--navds-border-radius-small);
}
.rdp-button:focus {
  z-index: 5;
  border-radius: var(--navds-border-radius-medium);
  box-shadow: 0 0 0 1px #00347d;
}
.rdp-button:active {
  color: white;
  background-color: var(--navds-button-color-primary-background-active) !important;
}
.rdp-button:hover {
  border: var(--rdp-outline);
  color: inherit;
  box-shadow: 0 0 0 1px #00347d;
}
.rdp-button[disabled] {
  border: none;
  outline: none;
  box-shadow: none;
}
.rdp-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--navds-select-color-background);
  border-radius: var(--navds-border-radius-medium);
  border: 1px solid var(--navds-select-color-border);
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
}
.rdp-dropdown_month {
  margin-right: 0.5rem;
}
.rdp-dropdown:hover {
  border-color: var(--navds-select-color-border-hover);
  box-shadow: 0 0 0 3px #00347d;
}
.rdp-dropdown:focus {
  z-index: 5;
  outline: none;
  box-shadow: 0 0 0 3px #00347d;
}
.rdp-button[aria-disabled='true'] {
  opacity: 1;
  pointer-events: none;
  border-radius: var(--navds-border-radius-small);
  background-color: var(--navds-global-color-gray-100);
}
.rdp-button[aria-disabled='true']:focus {
  z-index: 5;
  border-radius: var(--navds-border-radius-medium);
  box-shadow: 0 0 0 1px #00347d;
}
.rdp-caption_label {
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  box-sizing: border-box;
  font-size: inherit;
  text-transform: capitalize;
}
.rdp-caption_dropdowns .rdp-caption_label {
  border-radius: var(--navds-border-radius-medium);
  border: 1px solid var(--navds-select-color-border);
}
.rdp-dropdown:hover:not([disabled]) + .rdp-caption_label,
.rdp-dropdown:focus:not([disabled]) + .rdp-caption_label,
.rdp-dropdown:active:not([disabled]) + .rdp-caption_label {
  border: none !important;
  border-radius: var(--navds-border-radius-medium);
  box-shadow: 0 0 0 3px #00347d;
}
.rdp-tbody .rdp-row .rdp-cell:last-child {
  color: var(--navds-global-color-red-500);
}
.rdp-weeknumber {
  border-right: 1px solid var(--navds-global-color-gray-200);
  border-radius: 0;
  position: relative;
  padding-left: 0;
  padding-right: 0.5rem;
  font-size: 0.9rem;
  font-style: italic;
}
.ds-datepicker {
  position: relative;
  display: inline-block;
}
.ds-datepicker * {
  box-sizing: border-box;
}
.ds-datepicker .navds-text-field--error .ds-datepicker__calendarButton:not(:disabled),
.ds-datepicker .navds-text-field--error .navds-text-field__input:not(:disabled) {
  border-color: var(--navds-text-field-color-border-error);
  box-shadow: 0 0 0 1px var(--navds-text-field-color-border-error);
}
.ds-datepicker .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}
.ds-datepicker__inputContainer {
  display: inline-block;
  width: 11rem;
  position: relative;
}
.ds-datepicker__calendarButton {
  padding: 0.1rem 0.5rem;
  background-color: #ffffff;
  border: 1px solid #0067c5;
  border-radius: 0 4px 4px 0;
  margin: 0;
  height: 100%;
  min-height: 2.45rem;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5rem;
}
.ds-datepicker__calendarButton__icon {
  display: block;
  line-height: 0;
}
.ds-datepicker__calendarButton__icon > svg {
  width: 16px;
  height: 16px;
}
.ds-datepicker__calendarButton:active,
.ds-datepicker__calendarButton:hover,
.ds-datepicker__calendarButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #00347d;
  border-radius: 3px;
}
.ds-datepicker__calendarButton:disabled {
  background: transparent;
  cursor: default;
}
.ds-datepicker__calendarButton--small {
  min-height: 1.5rem;
  padding: 0;
  width: 2rem;
}
.ds-datepicker__caption {
  padding: 0 2rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
}
.ds-datepicker__input {
  width: 100%;
  padding-right: calc(2.5rem - 3px);
}
.ds-datepicker__calendarPortal {
  position: absolute;
  top: calc(100% + 0.25rem);
  left: 0;
  line-height: 1.3em;
  z-index: 10;
}
.ds-datepicker__calendarPortal--fullscreen {
  z-index: 100;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.ds-datepicker__calendarPortal--fullscreen .ds-datepicker__calendarPortal__content {
  margin: 0 auto;
  min-height: 20rem;
}
.ds-datepicker__kalender {
  border: 1px solid #b7b1a9;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
}
.ds-datepicker__periode {
  display: flex;
  padding-right: 2.5rem;
}
.ds-datepicker__periode .ds-datepicker__inputContainer {
  width: 9rem;
}
.ds-datepicker__periode__startInput {
  padding-right: 1.5rem;
}
.ds-datepicker__periode__startInput:after {
  content: '—';
  margin-left: 0.35rem;
  line-height: 2rem;
  position: absolute;
}
.ds-datepicker__yearSelector {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 14rem;
}
.ds-datepicker__yearSelector .selectContainer {
  width: 50%;
}
.ds-datepicker__yearSelector .selectContainer select {
  font-size: 1rem;
  min-height: 2rem;
}
.ds-datepicker__yearSelector .selectContainer:first-child {
  width: calc(45% - 0.25rem);
  margin-right: 0.25rem;
}
.ds-datepicker__yearSelector .selectContainer:last-child {
  width: 55%;
}
.ds-datepicker__yearSelector .selectContainer--monthOnly {
  width: 70%;
}

.box--s {
  margin-top: 0.25rem;
}
.box--m {
  margin-top: 0.5rem;
}
.box--l {
  margin-top: 1rem;
}
.box--xl {
  margin-top: 2rem;
}
.box--xxl {
  margin-top: 3rem;
}
.box--xxxl {
  margin-top: 4rem;
}
.box--bottom-s {
  padding-bottom: 0.25rem;
}
.box--bottom-m {
  padding-bottom: 0.5rem;
}
.box--bottom-l {
  padding-bottom: 1rem;
}
.box--bottom-xl {
  padding-bottom: 2rem;
}
.box--bottom-xxl {
  padding-bottom: 3rem;
}
.box--bottom-xxxl {
  padding-bottom: 4rem;
}
.box--textAlignCenter {
  text-align: center;
}

