@import (less) 'react-day-picker/dist/style.css';
@import '_variabler.less';
@import '_mixins.less';

.rdp,
:root {
    --rdp-cell-size: 40px;
    --rdp-accent-color: #0067c5;
    --rdp-background-color: white;
    --rdp-outline: 1px solid #0067c5;
    --rdp-outline-selected: 2px solid #0067c5;
}

.rdp-day {
    border-radius: var(--navds-border-radius-medium);
    &:focus,
    &:active,
    &:hover {
        z-index: 5;
        border: 1px solid var(--rdp-outline);
        border-radius: var(--navds-border-radius-medium);
        box-shadow: 0 0 0 3px #00347d;
    }
    &_disabled {
        text-decoration: line-through;
    }
    &_publicHoliday:not(.rdp-day_selected) {
        color: @navRod !important;
        font-style: italic;
    }
}
.rdp-button {
    border-radius: var(--navds-border-radius-small);
    &:focus {
        z-index: 5;
        border-radius: var(--navds-border-radius-medium);
        box-shadow: 0 0 0 1px #00347d;
    }
    &:active {
        color: white;
        background-color: var(--navds-button-color-primary-background-active) !important;
    }
    &:hover {
        border: var(--rdp-outline);
        color: inherit;
        box-shadow: 0 0 0 1px #00347d;
    }
    &[disabled] {
        border: none;
        outline: none;
        box-shadow: none;
    }
}
.rdp-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--navds-select-color-background);
    border-radius: var(--navds-border-radius-medium);
    border: 1px solid var(--navds-select-color-border);
    box-sizing: border-box;
    display: inline-block;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    &_month {
        margin-right: 0.5rem;
    }
    &:hover {
        border-color: var(--navds-select-color-border-hover);
        box-shadow: 0 0 0 3px #00347d;
    }

    &:focus {
        z-index: 5;
        outline: none !important;
        box-shadow: 0 0 0 3px #00347d;
    }
}

.rdp-button[aria-disabled='true'] {
    opacity: 1;
    pointer-events: none;
    border-radius: var(--navds-border-radius-small);
    background-color: var(--navds-global-color-gray-100);
    &:focus {
        z-index: 5;
        border-radius: var(--navds-border-radius-medium);
        box-shadow: 0 0 0 1px #00347d;
    }
}

.rdp-caption_label {
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    box-sizing: border-box;
    font-size: inherit;
    text-transform: capitalize;
}

.rdp-caption_dropdowns {
    .rdp-caption_label {
        border-radius: var(--navds-border-radius-medium);
        border: 1px solid var(--navds-select-color-border);
    }
}
.rdp-dropdown:hover:not([disabled]) + .rdp-caption_label,
.rdp-dropdown:focus:not([disabled]) + .rdp-caption_label,
.rdp-dropdown:active:not([disabled]) + .rdp-caption_label {
    border: none !important;
    border-radius: var(--navds-border-radius-medium);
    box-shadow: 0 0 0 3px #00347d;
}

.rdp-tbody {
    .rdp-row {
        .rdp-cell:last-child {
            color: var(--navds-global-color-red-500);
        }
    }
}

.rdp-weeknumber {
    border-right: 1px solid var(--navds-global-color-gray-200);
    border-radius: 0;
    position: relative;
    padding-left: 0;
    padding-right: 0.5rem;
    font-size: 0.9rem;
    font-style: italic;
}

@z-fullskjerm: 100;
@z-popup: 10;

.ds-datepicker {
    * {
        box-sizing: border-box;
    }
    @input-width: 11rem;
    @input-width-range: 9rem;
    position: relative;
    display: inline-block;

    .navds-text-field--error {
        .ds-datepicker__calendarButton:not(:disabled),
        .navds-text-field__input:not(:disabled) {
            border-color: var(--navds-text-field-color-border-error);
            box-shadow: 0 0 0 1px var(--navds-text-field-color-border-error);
        }
    }

    .sr-only {
        // Ensure it is present
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
        white-space: nowrap;
    }
    &__inputContainer {
        display: inline-block;
        width: @input-width;
        position: relative;
    }
    &__calendarButton {
        padding: 0.1rem 0.5rem;
        @borderRadius: 0 4px 4px 0;
        background-color: @white;
        border: 1px solid #0067c5;
        border-radius: @borderRadius;
        margin: 0;
        height: 100%;
        min-height: 2.45rem; // fix height on button when html font size is 112.5%
        z-index: 2;
        position: absolute;
        right: 0;
        top: 0;
        width: 2.5rem;
        &__icon {
            display: block;
            line-height: 0;
            > svg {
                width: 16px;
                height: 16px;
            }
        }
        & {
            &:active,
            &:hover,
            &:focus {
                .focusOutline();
            }
        }
        &:disabled {
            background: transparent;
            cursor: default;
        }
        &--small {
            min-height: 1.5rem;
            padding: 0;
            width: 2rem;
        }
    }
    &__caption {
        padding: 0 2rem;
        text-align: center;
        text-transform: capitalize;
        font-size: 2rem;
    }
    &__input {
        width: 100%;
        padding-right: calc(2.5rem - 3px);
    }
    &__calendarPortal {
        position: absolute;
        top: ~'calc(100% + 0.25rem)';
        left: 0;
        line-height: 1.3em;
        z-index: @z-popup;
        &--fullscreen {
            z-index: @z-fullskjerm;
            position: fixed;
            display: flex;
            align-items: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.8);
            .ds-datepicker__calendarPortal__content {
                margin: 0 auto;
                min-height: 20rem;
            }
        }
    }
    &__kalender {
        border: 1px solid #b7b1a9;
        border-radius: 4px;
        overflow: hidden;
        background-color: white;
    }
    &__periode {
        display: flex;
        padding-right: 2.5rem;
        .ds-datepicker__inputContainer {
            width: @input-width-range;
        }
        &__startInput {
            padding-right: 1.5rem;
            &:after {
                content: '—';
                margin-left: 0.35rem;
                line-height: 2rem;
                position: absolute;
            }
        }
    }
    &__yearSelector {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 14rem;
        .selectContainer {
            width: 50%;
            select {
                font-size: 1rem;
                min-height: 2rem;
            }
            &:first-child {
                width: calc(45% - 0.25rem);
                margin-right: 0.25rem;
            }
            &:last-child {
                width: 55%;
            }
            &--monthOnly {
                width: 70%;
            }
        }
    }
}
